<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <div class="container">
        <h2>Página Inicial</h2>
        {% if session.get("iduser") %}
            <a href="{{ url_for('login.logout') }}"><button type="button">Logout</button></a>
        {% else %}
            <a href="{{ url_for('login.login') }}"><button type="button">Login</button></a>
        {% endif %}
    </div>
</body>
</html>
